h1{

    text-decoration:underline;
    text-decoration-color:red;
    text-decoration-style:solid;
 
    text-transform:capitalize;
    font-style:italic;
    font-weight:bolder;
}

h2{
    text-shadow:5px 3px 8px blue, 2px 3px 5px green;
}
p{
    text-indent:45px;
    letter-spacing:0.7px;
    word-spacing:5px;

    line-height:30px;
}